# Ignore virtual environments
venv/
.env/
.env

# Ignore build artifacts
build/
dist/
*.egg-info/
*.zip
test/
# Ignore Python cache
__pycache__/
*.pyc
*.so

# Ignore Camera Callibration
*.npz
*.yaml
calib_images/
vosk-en-us/

start.json
max30102/
voices/
